/var/log/nginx/*.log {
	missingok
        hourly
        nodateext
        rotate 2
	sharedscripts
        size 1G
	postrotate
                /bin/kill -USR1 `cat /run/nginx/nginx.pid`
	endscript
        nocompress
}

