span.aim-icon {
  background-image: url(/images/logo-white.png);
  width: 225px;
  height: 48px;
  display: inline-block;
}

@media(max-width: 1024px) {
  span.aim-icon {
      width: 48px;
      margin-right: 6px;
  }
}
