span.aim-icon {
  background-image: url(/images/logo-white.png);
  background-repeat: no-repeat;
  width: 137px;
  height: 48px;
  display: inline-block;
  margin-right: 1em;
}

@media(max-width: 879px) {
  span.aim-icon {
      width: 60px;
      margin-right: 6px;
  }
}
