span.aim-icon {
  background-image: url(/images/logo-white.png);
  width: 180px;
  height: 40px;
  display: inline-block;
}

@media(max-width: 879px) {
  span.aim-icon {
      width: 74px;
      margin-right: 6px;
  }
}
